<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1 style = "text-align: center">Sobre</h1>
        </div>
        <div class="col-sm-12 col-md-6" style = "text-align: center">
            <p style = "color: #0e3054;">
                ➡️Apaixonadas por festas 🎀
            </p>
        </div>
        <div class="col-sm-12 col-md-6" style = "text-align: center">
            <p style = "color: #0e3054;">
                ♡ Produzimos festas personalizadas, criativas e originais! ♡
            </p>
        </div>
    </div>
</section>