<footer class="container-fluid container-contacts" style = "background-color: #fdf1e8; text-align: center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contato</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone" style = "background-color: #fdf1e8; text-align: center">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone" style = "background-color: #fdf1e8; text-align: center">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>
    </div>
    <a href="https://www.instagram.com/fabricadesonhoos/" class="btn btn-social-icon btn-instagram">
    <span class="fa fa-instagram" style="font-size:40px"></span>
    </a>
    <a href="https://www.facebook.com/Fabricadesonhosdecor/" class="btn btn-social-icon btn-facebook">
        <span class="fa fa-facebook" style="font-size:40px"></span>
    </a>
</footer>