<header class="container-fluid container-top" style = "background-color: #fdf1e8;">
    <div class="row">
        <col-md-12>
            <img src="./web-dist/images/profile-image.jpg" class="container-top-image img-circle m-x-auto" alt="{{ site.brand }}">
            <h1 class="container-top-name">
                {{ site.brand }}
            </h1>
            <h2 class="container-top-headline" style = "color: #0e3054;">
                {{ site.headline }}
            </h2>
        </col-md-12>
    </div>
</header>
